/* body {
    width: 100%;
} */
.container {
    /* border: 10px !important;
    border-color: black !important; */
    width: 50%; 
    padding: auto;
    display: inline-block;
    text-align: center;
    /* position: absolute;
    top: 20%;
    left: 25%; */
}
.form-group{

    width: 15%;
    position: relative;
    left: 42.5%;
}