.center{
    /* background-color: blue; */
    text-align: center;
}
#carouselExampleIndicators{
    display: inline-block;
    height: 450px;
    width: 300px;
}
.carousel-item{
    width: 230%;
    height: 230%;
}
.w-50{
    width: 44%!important;
}